html { 
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url('../images/bg.jpg');
}


/*NAVIGATION BAR*/
.nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 10vh;
	width: 100vw;
	z-index: 9999;
	background-color: black;
	font-size: 30px;
}

.bmenu {
	position: relative;
	text-align: center;
}

.bmenu li {
	display: inline;
}

.bmenu li a{
	text-decoration: none;
	white-space: nowrap;
	color: transparent;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	text-shadow: 0px 0px 6px #fff;
	letter-spacing: 1px;
	-moz-transform: scale(0.5); 
	-ms-transform: scale(0.5); 
	-o-transform: scale(0.5); 
	-webkit-transform: scale(0.5); 
	transform: scale(0.5); 
	-webkit-transition: all 0.6s linear;
	-moz-transition: all 0.6s linear;
	-o-transition: all 0.6s linear;
	-ms-transition: all 0.6s linear;
	transition: all 0.6s linear;
}

.bmenu:hover li a{ text-shadow: 0px 0px 15px #fff; }

.bmenu li a:hover{
	text-shadow: 0px 0px 1px #fff;
	-moz-transform: scale(1); 
	-ms-transform: scale(1); 
	-o-transform: scale(1); 
	-webkit-transform: scale(1); 
	transform: scale(1); 
}



.polaroid { width:368px; height:376px; background-image:url(../images/polaroid-bg.png); position:absolute; }
.polaroid img { width:335px; height:275px; margin:25px 0 0 15px; }
.polaroid p { text-align:center; font-family:Georgia,serif; font-size:20px; color:#2E2E2E; margin-top:15px; }



.about-me { position: relative; height: 100%; width: 100%; overflow: scroll; color: white; font-size: 30px;}
.about-me img { height: 35%; width: 15%; border-radius: 50%; }


.info-container {
	visibility: hidden;
	display: block;
	text-align: center;
	margin-top: 10vh;
	height: 90vh;
	width: 100vw;
	float: left;
}


