html { 
  font-family: 'Source Sans Pro', sans-serif;
}

.about-me {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: scroll;
}

.about-me img {
	height: 40%;
	width: 35%;
	border-radius: 50%;
}

#slideshow img {
	height: 100vh;
	width: 69.5vw;
}

.info-container {
	visibility: hidden;
	display: block;
	text-align: center;
	height: 100vh;
	width: 69.5vw;
	float: left;
	background-color: rgba(244, 240, 234, 0.4);
}

.nav {
	display: block;
	height: 100vh;
	width: 30vw;
	background-color: black;
	border-left: 5px solid white;
	float: right;
	font-size: 30px;
}

.bmenu {
  list-style-type: none;
  overflow: hidden;
  margin-top: 30%;
  text-align: left;
}

.bmenu li a{
	text-decoration: none;
	white-space: nowrap;
	color: transparent;
	display: block;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0px 0px 6px #fff;
	letter-spacing: 1px;
	-moz-transform: scale(0.5); 
	-ms-transform: scale(0.5); 
	-o-transform: scale(0.5); 
	-webkit-transform: scale(0.5); 
	transform: scale(0.5); 
	-webkit-transition: all 0.6s linear;
	-moz-transition: all 0.6s linear;
	-o-transition: all 0.6s linear;
	-ms-transition: all 0.6s linear;
	transition: all 0.6s linear;
}

.bmenu:hover li a{
	text-shadow: 0px 0px 15px #fff;
}
.bmenu li a:hover{
	text-shadow: 0px 0px 1px #fff;
	-moz-transform: scale(1); 
	-ms-transform: scale(1); 
	-o-transform: scale(1); 
	-webkit-transform: scale(1); 
	transform: scale(1); 
}
