body {
  background-color: #fafafa;
  background: url('https://s15.postimg.org/48gqft9iz/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main, .footer {
  position: fixed;
}

h2, .footer__link {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

p, li {
  font-family: 'Lusitana', serif;
  font-size: 1.2rem;
}

.main, .footer, .about__skills__chart {
  width: 50%;
}

.main {
  top: 0;
  left: 0;
  height: 89%;
  padding: .5rem 0 0 2rem;
}

.footer {
  bottom: 0;
  left: 0;
  height: 10%;
  padding-left: 2rem;
}

  .footer__link:first-child {
    padding-left: 1rem;
  }

  .footer__link {
    font-style: bold;
    color: #000000;
    font-size: 2.5rem;
    text-decoration: none;
    padding-left: 4rem;
  }

  .footer__link:hover {
    color: #839EDC;
  }

.about__skills__chart {
  height: 16rem;
}

.about__facts__list {
  list-style: none;
}
